<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Artist.Name }} — Groupie Trackers</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    
    <header>
        <a href="/">← Back to all artists</a>
        <h1>{{ .Artist.Name }}</h1>
    </header>
    <main>
        <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" class="detail-hero-image">
        <p><span class="label">Founded:</span> {{ .Artist.CreationDate }}</p>
        <p><span class="label">First Album:</span> {{ .Artist.FirstAlbum }}</p>

        <h2>Members</h2>
        <ul>
            {{ range .Artist.Members }}
                <li>{{ . }}</li>
            {{end}}
        </ul>

        <h2>Concert Dates</h2>
        <ul>
            {{ range $location, $dates := .Relation.DatesLocations }}
                <li><strong>{{ $location }}</strong>{{ range $dates }}{{ . }} {{ end }}</li>
            {{ end }}
        </ul>
    </main>
</body>
</html>